<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<distributable />
	<context-param>
		<description>JEE6 does not provide ServletContext.getVirtualServerName() this is the worka around.</description>
		<param-name>EntrustTruePass.VIRTUAL_SERVER_NAME</param-name>
		<param-value>default_host</param-value>
	</context-param>
	<context-param>
		<description>An user that exists in the WebSphere User Registry.  Using this will enable the WebSphere workaround.</description>
		<param-name>EntrustTruePass.WEBSPHERE_USER</param-name>
		<param-value>websphere</param-value>
	</context-param>    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
</context-param>
	    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
</servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role>
		<role-name>users</role-name>
	</security-role>
</web-app>